/vendor
/node_modules
/public/storage
/storage/*.key
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
.env.backup
.DS_Store
.idea
.vscode
/public/posts/doc/*
/public
/bootstrap
/bootstrap
/bootstrap/cache
bootstrap/cache/config.php
bootstrap/cache/routes-v7.php
*.zip
/bootstrap
/bootstrap
